.search-form {
    margin: auto;
    padding-top: 15px;
    width: 800px;
    padding-bottom: 20px;
}

.ag-grid-container {
    margin: auto;
    width: 800px;
    height: 800px;
}

.well.well-lg {
    margin: auto;
    width: 800px;
    text-align: center;
}
